<br><br><br><br><br><br>
<ion-content>
<ion-grid>
  <ion-row >
    <ion-col *ngFor="let countryName of country_name" size="6">

      <ion-card (click)="country(countryName.searchName)">

      
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-img [src]="countryName.img" ></ion-img><br>
              <ion-label>
                <h1>{{countryName.name}}</h1>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      
    </ion-col>
    
    <ion-col size="6" *ngFor="let countryName of countryNames">
      
      <ion-card (click)="country(countryName.searchName)">
        
        
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-img [src]="countryName.img" ></ion-img><br>
              <ion-label>
                 <h1>{{countryName.name}}</h1>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
